.hand {
  width: 100%;
  height: 80px;

  background-color: rgba(100, 193, 255, 0.7);
  position: absolute;

  bottom: -50px;
  left: 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 20;
}

.hand app-card {
  margin-left: -40px;
  margin-top: 0px;
  transition-property: margin-top;
  transition-duration: 100ms;
}

.hand app-card:hover {
  margin-top: -20px;
  box-shadow: 0px 0px 3px 1px rgb(0, 98, 190);
}

.hand app-card:first-of-type {
  margin-left: 0px !important;
}
