<div class="field-side" [class.oponent]="!own">
  <div class="battle-zone" [class.highlight]="highlight" (dragover)="allowDrop($event)" (drop)="dropCard($event)">
    <app-security [id]="security_id" [own]="own"></app-security>
    <app-hatch [id]="hatch_id" [own]="own"></app-hatch>

    <app-digimon *ngFor="let d of digimons" [digimon]="d"></app-digimon>
  </div>
  <div class="pile-zone">
    <app-deck [own]="own" [id]="deck_id"></app-deck>
    <div class="cards-container drop"></div>
  </div>
  <app-hand [own]="own" [id]="hand_id"></app-hand>
</div>
