.modal-container {
  width: 100vw;
  height: 100vh;

  top: 0px;
  left: 0px;

  background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-modal {
  width: 200px;
  height: 200px;

  background-color: white;
  box-shadow: 0px 0px 7px 2px black;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

span {
  text-align: center;
}
