<div class="modal-container" *ngIf="show" (click)="closeModal()">
  <div class="host-modal" (click)="$event.stopPropagation()">
    <h2>Hosting room</h2>
    <div class="info-container">
      <b>Room ID: </b> lkdjgqasjdkfnsdfn <br>
      <b>Username: </b> player username <br>
    </div>
    <ul class="request-list">
      <li class="request" [class.active]="r.user_id == chosen_req" *ngFor="let r of requests"
      (click)="choseRequest(r.user_id)">
        {{ r.username }}
      </li>
    </ul>
    <div class="buttons-container">
      <button class="accept">Accept</button>
      <button class="cancel" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
