/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

body {
  background: url('./assets/background.png');
  background-position: center;
}
