<div class="masterContainer">
  <app-navbar></app-navbar>
  <div class="body">
    <div class="currentCard">
      <div class="imageContainer">
        <img [src]="current_card?.image_url || '../../assets/backCard.png'" alt="Default digimon card image">
      </div>
      <div class="dataContainer">
        <div class="digimonName">
          {{ current_card?.name }}
        </div>
        <div class="detailsAndEffect">
          <div class="details">
            <div>
              <b>Stage: </b> {{ current_card?.stage }}
            </div>
            <div>
              <b>Attribute: </b> {{ current_card?.attribute }}
            </div>
            <div>
              <b>Type: </b> {{ current_card?.digi_type }}
            </div>
            <div>
              <b>Code: </b> {{ current_card?.cardnumber }}
            </div>
          </div>
          <div class="effect">
            <b>[Main Effect]</b><br>
            {{ current_card?.maineffect }}<br>
            <b>[Soure Effect]</b><br>
            {{ current_card?.soureeffect }}
          </div>
        </div>
      </div>
    </div>
    <div class="deck-container">
      <form class="deck-options">
        <input type="text" name="deck_name" class="new_deck_name"
        placeholder="New deck name" [(ngModel)]="deck_name">
        <button class="submit save" (click)="saveDeck()">Save</button>
        <button class="submit clear" (click)="clearDeck()">Clear</button>
        <select name="saved_decks" class="saved_decks" [(ngModel)]="chosen_deck">
          <option value="">Select deck</option>
          <option [value]="d.name" *ngFor="let d of saved_decks">{{ d.name }}</option>
        </select>
        <button class="submit load" (click)="loadDeck()">Load</button>
        <button class="submit delete" (click)="deleteDeck()">Delete</button>
      </form>

      <app-raw-card *ngFor="let card of deck" [card]="card"></app-raw-card>
    </div>
    <div class="search-form-container">
      <form class="search-form" (submit)="applyFilter()">
        <input type="text" class="name" name="digi_name" placeholder="Card name" [(ngModel)]="byName">

        <select name="color" class="color" [(ngModel)]="byColor">
          <option value="">Color</option>
          <option *ngFor="let c of colors" [value]="c">{{ c }}</option>
        </select>

        <input type="number" class="cost level" name="level" placeholder="Lv" [(ngModel)]="byLevel">

        <input type="number" class="cost play_cost" name="play_cost" placeholder="Play" [(ngModel)]="byPlay">

        <input type="number" class="cost evolution_cost" name="evolution_cost" placeholder="Evol" [(ngModel)]="byEvol">

        <select name="type" class="type" [(ngModel)]="byType">
          <option value="">Type</option>
          <option *ngFor="let t of types" [value]="t">{{ t }}</option>
        </select>

        <button type="submit" class="search-btn">Search!</button>

        <button class="resert-params" (click)="resetParams()">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </form>
      <div class="results">
        <app-card-result-item *ngFor="let c of cards" [card]="c">
        </app-card-result-item>
      </div>
    </div>
  </div>
</div>
