.masterContainer {
  width: 100vw;
  height: 100vh;
}

.body {
  width: 100%;
  height: calc(100vh - 60px) !important;
  max-height: calc(100vh - 60px) !important;

  display: grid;
  grid-template-columns: 25% 55% 20%;
}

/**//*Current card section*/
.currentCard {
  height: 100%;
  max-height: calc(100vh - 60px) !important;
  background-color: rgba(128, 128, 128, 0.7);
}

.imageContainer {
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer > img {
  max-height: 98% !important;
  max-width: 98% !important;
}

.dataContainer {
  width: calc(100% - 20px);
  height: calc(100% - 320px);
  background-color: rgba(168, 168, 168, 0.8);
  padding: 10px;
}

.digimonName {
  width: calc(100% - 20px);
  height: 30px;

  background-color: gray;
  color: black;
  font-weight: 700;
  font-size: 20px;

  padding: 0px 10px;
  border-radius: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsAndEffect {
  width: 100%;
  height: calc(100% - 30px);
}

.details {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.effect {
  width: calc(100% - 10px);
  max-height: 180px;
  background-color: rgba(204, 204, 204, 0.7);
  border-radius: 5px;
  padding: 5px;

  font-style: italic;
  text-align: justify;

  overflow-x: hidden;
  overflow-y: scroll;
}

.effect::-webkit-scrollbar {
  width: 7px;
}
.effect::-webkit-scrollbar-track {
  width: 7px;
  background-color: transparent;
}
.effect::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: rgb(0, 0, 82);
  border-radius: 5px;
}

/**//*Deck container section*/
.deck-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-height: calc(100% - 40px) !important;

  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;

  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(6, 1fr);
}

.deck-options {
  width: calc(96% - 10px);
  height: calc(90% - 10px);

  padding: 5px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.8);
  box-shadow: 0px 0px 5px 3px black;

  align-self: flex-start;
  justify-self: flex-start;

  grid-row: 1/2;
  grid-column: 1/6
}

input.new_deck_name {
  width: 150px;
  height: 25px;

  background-color: rgba(238, 238, 238, 0.7);
  border-radius: 5px;
  border: 1px solid rgb(173, 173, 173);
  color: rgb(82, 82, 82);
}

button.submit {
  width: 70px;
  height: 25px;

  border-radius: 5px;
  margin-left: 10px;

  background-color: rgb(87, 87, 87);
  border: 2px solid rgb(68, 68, 68);
  color: rgb(230, 230, 230);
  font-weight: 600;

  transition-property: background-color, color;
  transition-duration: 180ms;
}

button.submit:hover {
  background-color: rgba(128, 128, 128, 0);
  color: rgb(68, 68, 68);
}

.saved_decks {
  width: 150px;
  height: 25px;

  background-color: rgba(238, 238, 238, 0.7);
  border-radius: 5px;
  border: 1px solid rgb(173, 173, 173);
  color: rgb(82, 82, 82);
}

/**//*Search form section*/
.search-form-container {
  width: calc(100% - 30px);
  height: calc(100vh - 40px);
  max-height: calc(100vh - 100px);

  border-radius: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.8);
  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-rows: 100px calc(100% - 100px);
}

.search-form {
  width: calc(100%);
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  border-bottom: 2px solid gray;
}

.search-form * {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.search-form input, .search-form select {
  height: 25px;
  background-color: rgba(238, 238, 238, 0.7);
  border-radius: 5px;
  border: 1px solid rgb(173, 173, 173);
  color: rgb(82, 82, 82);
}

.form-row {
  width: 100%;
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
}

.form-row input[type="number"] {
  width: 50px;
  height: 25px;
}

.button-row {
  justify-content: space-between;
}
.search-btn {
  width: 80%;
  height: 25px;

  border-radius: 5px;
  background-color: rgb(87, 87, 87);
  border: 2px solid rgb(68, 68, 68);
  color: rgb(230, 230, 230);
  font-weight: 600;

  transition-property: background-color, color;
  transition-duration: 180ms;
}

.results {
  height: 100%;
  max-height: 100% !important;

  overflow-x: hidden;
  overflow-y: auto;
}
