.body {
  width: 100%;
  height: calc(100vh - 60px);

  background-color: rgba(77, 77, 77, 0.65);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

body * {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.fake-btn {
  position: absolute;
  top: 50px;
  right: 50px;

  width: 50px;
  height: 25px;
}

.host-form, .rooms-container {
  width: 90%;
  max-width: 500px;
  padding: 10px;
}

/**/ /* Host Form styles */
.host-form {
  background-color: rgba(0, 37, 107, 0.8);
  border-radius: 5px;
  border: 2px solid rgb(0, 1, 85);
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-weight: 600;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.host-form input, select {
  height: 25px;
  border-radius: 5px;
  border: none;
}

.host-btn {
  width: 50px;
  font-weight: 600;
  border: 2px solid gray !important;

  transition-property: background-color, color;
  transition-duration: 180ms;
}

.host-btn:hover {
  background-color: gray;
  color: white;
}

/**//* Rooms Container styles */
.rooms-container {
  height: 400px;

  background-color: rgba(218, 218, 218, 0.8);
  border-radius: 5px;
  border: 2px solid gray;

  display: grid;
  grid-template-rows: 50px calc(100% - 110px) 60px;
}

.rooms-container h3 {
  margin: 0px;
  text-align: center;
}

.rooms-list-container {
  padding: 0px;
}

.titles, .rooms-list > li {
  padding-left: 5px;
  display: grid;
  grid-template-columns: 150px calc(100% - 150px);
}

.titles {
  height: 20px;
  font-weight: 700;
  border-bottom: 2px solid gray;
}

.rooms-list {
  height: calc(100% - 30px);
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 5px 5px;

  overflow-y: auto;
}

.rooms-list > li {
  padding-top: 10px;
  border-bottom: 1px solid gray;
}

.rooms-list > li.active {
  background-color: rgba(0, 94, 148, 0.8);
  border-radius: 0px 0px 5px 5px;
  color: white;
  font-weight: 600;
}

.rooms-list > li:hover {
  cursor: pointer;
  border: 2px solid rgb(0, 120, 189);
  border-radius: 5px;
  color: rgb(0, 66, 104);
}

.rooms-list::-webkit-scrollbar {
  width: 10px;
}

.rooms-list::-webkit-scrollbar-track {
  width: 10px;
  background-color: transparent;
}

.rooms-list::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(71, 71, 71);
  border-radius: 5px;
}

.options-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options-container button {
  width: 100px;
  height: 25px;
}
